body{
    height: 100vh;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.login{
        display: flex;
        width: 80%;
        height: 80%;
        background-color:white;
        flex-direction: row;
        flex-wrap: nowrap;
        border-radius: 15px;
        box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.399);

}
.login_image{
    width: 70%;
    height: 100%;
    background-color: #FA1041;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 250px 250px 5px;
}
.login_image img{
    width: 60%;
    height: 70%;
}
.login_content{
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    margin-left: 40px;
    border-radius: 0px 5px 5px 0px;
    justify-content: center;

}
.login_content h1{
    text-align: center;
    margin-right: 18%;
}
.login_content input{
    width: 80%;
    margin-bottom: 20px;
    height: 6%;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid #FA1041;
}
.login_content label{
    text-align: start;
   
}
.login_content button{
    width: 40%;
    height: 7%;
    margin-left: 21%;
    margin-top:20px;
    background-color: #FA1041;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.login_content p{
    line-height: 0px;
    text-align: center;
    margin-right: 17%;
}
.login_content p span a{
    text-decoration: none;
    font-weight: bold;

}