.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: white;
    padding: 8px 15px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-grow: 1; 
    gap: 5%;
}


.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.nav-item:hover a {
    color: red;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-right a {
    display: flex;
    align-items: center;
    color: black;
}

.nav-right a::before {
    content: "\f07a";
    font-family: FontAwesome;
    font-weight: 900;
    margin-right: 5px;
    color: red;
}
