
.signup_page{
    width: 80%;
    height: 80%;
    background-color: white;
    display:flex;
    flex-direction: row;
    align-items:center;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.337);
    margin: 20px; 

}
.signup_page_image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:60%;
    height: 100%;
    background-color: #FA1041;
    border-radius:250px 5px 5px 250px;
}
.signup_page_image img{
    width: 77%;
    height: 77%;
}
.signup_page_content{
    margin-top: 10px;
    padding-left:3%;
    display: flex;
    flex-direction: column;
    width: 39%;
    height: 100%;
    row-gap: 10px;
    margin-left: 20px;
    text-align:start;
    flex-shrink: 0;
}
.signup_page_content h1{
     margin-left: 15%;
}
.signup_page_content div{
    margin-bottom:10px;
}
.signup_page_content input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FA1041;
    height: 80%;
}
.signup_page_content button{
    width:40%;
    height: 30px;
    margin-top: 10px;
    margin-left:16%;
    border: none;
    border-radius: 5px;
    background-color: #FA1041;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 1px 1px 4px gray;
    cursor: pointer;
}
.signup_page_content p{
    margin-left: 07%;
}
.signup_page_content p span{
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

@media (max-width:960px) {
    .signup_page_image{
        display: none;
    }
    .signup_page_content{
    width: 80%;
    border-radius: 5px;
    height: 80%;
    }
}